/*MainPage*/
body {
    text-align: center;
    background-color: gray;
}

#welcome_content {
    color: blue;
    font-size: 25px;
}

#cotent {
    height: 300px;
    color: red;
    font-size: 20px;
}

footer {
    color: black;
}

#nav_ul {
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    margin: 0px;
}

.nav_li {
    display: inline-block;
    width: 100px;
    margin: 0px;
    background-color: green;
    text-transform: uppercase;
    border-radius: 10px;
}